.tooltip {
  position: absolute;
  z-index: 10;
  margin: -24px 8px;
  padding: 1px 5px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: #efc;
  color: #000;
  font-size: 11px;
  opacity: 0.8;
}

.tooltip dl {
  margin: 0;
}

.tooltip dd {
  margin: 0;
}

.hidden {
  display: none;
}
